p.blue   { background-color: gray; }
div.header { float: right; } 
img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
.common-form {
    display: none;
}
div.columns { display: inline; }
div.column { float: left; width: 25em;}
div.goldbox { clear: both; }
