p.blue   { background-color: gray; }
div.header { float: right; } 
img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
.common-form {
    display: none;
}
div.columns { display: inline; width: 95% }
div.column { float: left; width: auto; margin: 3em; }
div.gold-box { clear: both; width: 100%; }
div.centered { margin-left: auto; margin-right: auto; display: block; }
span.right-align { float: right; width: auto; }
