/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article {
  display: block;
}


div.header { float: right; } 
img.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}
.common-form {
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  -webkit-border-bottom-left-radius:5px;
  -webkit-border-bottom-right-radius:5px;
  display:none;
  background-color:blue;
  position:absolute;
  width:210px;
  z-index:100;
  border:1px transparent;
  text-align:left;
  padding:10px;
  margin-left:-1px;
  margin-top:-1px;
  font-size: 14px;
}
.common-form input {
  border: 1px transparent;
}
div.columns { display: inline; width: 95% }
div.column { float: left; width: auto; margin: 3em; }
div.gold-box { clear: both; width: 100%; }
div.centered { margin-left: auto; margin-right: auto; display: block; }
.right-align { float: right; width: auto; }
.login { float: right; width: auto; }
.generated-text { margin-top: 100px; padding: 50px; margin-left: 180px; margin-right: 180px; display: block; }
.charsheet { margin-top: 100px; padding: 50px; margin-left: 80px; margin-right: 80px; display: block; }

a img {
  border: 0;
}

nav {
  position: absolute;
  left: 0;
  width: 100%;
  background: blue;
}

nav ul {  
  margin: 0 auto;  
  width: 940px;  
  list-style: none;  
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  margin-right: 20px;
  width: 140px;
  font-size: 14px;
  line-height: 44px;
  text-align: center;
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  color: #fff;
}

nav ul li.selected a {
  color: #fff;
}
nav ul li.subscribe a {
  margin-left: 22px;
  padding-left: 33px;
  text-align: left;
  background: url("rss.png") left center no-repeat;
}
